.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center the table and make it uniform */
table {
  width: 80%; /* Set table width */
  margin: 20px auto; /* Center the table horizontally and add vertical spacing */
  border-collapse: collapse; /* Merge borders for a clean look */
}

th, td {
  border: 1px solid black; /* Add uniform black borders */
  padding: 7px; /* Add padding for better readability */
  text-align: center; /* Center-align all cell content */
}

th {
  font-weight: bold; /* Ensure table headers stand out */
  background-color: #f2f2f2; /* Add subtle background for headers */
  padding: 5px;
}

/* Center align the headings above the table */
h2, h3 {
  text-align: center;
  margin: 5px;
}

/* Remove special width from .table-team */
.table-team {
  width: 35%;
  min-width: 167px;
}

.table-games {
  width: 15px;
}
.table-percent {
  width: 15px;
}
.table-wins {
  width: 25%;
}
.table-losses {
  width: 25%;
}

.table-streak{
  width: 15px;
}
